<form class="{{cssClass}} item-sheet" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <h1 class="item-sheet__name"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
        <h1><input class="item-sheet__bonus" name="data.bonus" type="text" value="{{data.bonus}}" data-dtype="Number"></h1>
    </header>
</form>